.container-stream{
    background: #313131;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading-video-stream{
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        #cardAviso{
            width: 300px;
            padding: 10px;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;


            .titulo{
                font-size: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            

        }
    }

    .container-video{
        margin-right: 10px;   
        padding: 10px;
        background: #ffffff;
        border-radius: 10px;
        padding: 30px;
        width: 80%;
        height: 98%;

       
    }
    #videostram{
        width: 100%;
        height: 100%;
    }

    .container_options-button{
        width: 18%;
        height: 98%;

        

        .container-send-number{
            .loader-mensagem{
                @include loading(#004085)
            }
            #alerta-enviando{
                background: #CCE5FF;
                color:   #004085;
                border:  1px solid  #B8DAFF;
            }
            #alerta-sucesso{
                background: #D4EDDA;
                color:  #155724;
                border: 1px solid  #C3E6CB;
            }
            
            #alerta-erro{
                background: #FFF3CD;
                color:  #856404;
                border: 1px solid  #FFEEBA;
            }

           .container-send-acesso{
                // background: #fff;
                border-radius: 5px;
                margin-bottom: 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px;
                .container-info{
                    margin-left: 15px;
                    .titulo{
                        font-weight: 600;
                        font-size: 18px;
                    }
                    
                }
                .icon-sucesso{
                    font-size: 40px;
                }
           }

        }
    }
    .container-painel{
        width: 100%;
        height: 91%;
        border-radius: 5px;
        background: #bc0000;
        color: #fff;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 30px;

    }

    .container-painel:hover{
        background: red;
        color: #fff;
    }

   
}
.container-aviso-erro-stream{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #card-erro-ffmpeg{
        width: 35%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        padding: 20px;

        .container-incone-titulo{
            display: flex;
            width: 40%;
            height: 260px;
            background:  #F8D7DA;
            border-radius: 5px;
            margin-right: 25px;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            li{
                font-size: 50px;
                color:  #721C24;
            }
            .titulo{
                font-size: 25px;
                color:  #721C24;
            }
        }

        .container-possivel-erro{
           .titulo{
            font-size: 25px;
           }
           .descricao{
            color: gray;
           }
           ul{
            margin-top: 25px;
           }
           .container-buttons{
            .titulo-button{
                font-size: 20px;
                margin-bottom: 15px;
            }
            button{
                width: 120px;
            }
           }
        }
    }
}

#container-gravando{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;

    #card-gravando{
        width: 400px;
        padding: 10px;
        background: #F2F2F2;

        #caontgravando{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 15px;
            .progresso{
                
                color: #fff;
                margin-left: 10px;
            }
        }
        .informacao{
            cursor: pointer;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: red;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            color: #fff;
        }
    }
}


